:root {
   --heading-font: 'Fira Sans', sans-serif;
   --base-font: 'Source Sans Pro', sans-serif
   --primary-color: #5f9ea0;
}
body {
   background-color: rgb(248, 238, 224);
}
h1 {
   color: #5f9ea0;
   font-family: var(--heading-font);
   font-size: 80px;
   font-weight: 700;
   margin-top: 30px;
   text-align: center;
}
h2 {
   font-family: var(--heading-font);
   font-weight: 400;
   margin-top: 12px;
   text-align: center;
}
h3 {
   font-family: var(--heading-font);
   font-size: 22px;
   font-weight: 300;
   margin-top: 6px;
   margin-bottom: 2px;
   text-align: center;
}
h4 {
   font-family: var(--heading-font);
   color:darkslategrey;
   font-size: 18px;
   font-weight: 400;
}
p {
   font-family: var(--base-font);
   font-size: 15px;
   margin-bottom: 25px;
   text-align: center;
}
img {
   border: 3px outset cadetblue;
   border-radius: 4px;
   display: block;
   margin: 0 auto;
}
footer {
   background-color: #5f9ea0;
   margin-top: 30px;
   margin-bottom: 0;
   padding: 20px;
   text-align: center;
}
.contact-button {
   background-color: rgb(238, 192, 192);
   border: 3px solid rgb(207, 108, 108);
   border-radius: 3px;
   display: block;
   font-size: 14px;
   font-weight: 600;
   margin:0 auto;
   margin-top: 35px;
   margin-bottom: 35px;
   padding: 5px 12px;
   text-transform: uppercase;
   transition: all 200ms linear;
}
.contact-button a {
   color: rgb(161, 72, 72);
   text-decoration: none;
}
.contact-button:hover {
   background: rgb(118, 204, 204);
   border-color: teal ;
   cursor: pointer;
   opacity: 0.9;
   text-decoration: underline;
}
.social-media-links {
   color: rgb(161, 72, 72);
   font-size: 20px;
   text-decoration: none;
}
.profile-pic {
   display: flex;
   justify-content: end;
}
.about-content {
   font-size: 20px;
   text-align: left;
}
@media (max-width: 992px) {
   .navbar .navbar-collapse {
       text-align: center;
   }
   .about-content {
      text-align: center;
      padding: 20px;
   }
}